// 颜色定义规范
@color-background : #222;
@color-background-d : rgba(0, 0, 0, 0.3);
@color-highlight-background : #333;
@color-dialog-background : #666;
@color-theme : #ffcd32;
@color-theme-d : rgba(255, 205, 49, 0.5);
@color-sub-theme : #d93f30;
@color-text : #fff;
@color-text-d : rgba(255, 255, 255, 0.3);
@color-text-l : rgba(255, 255, 255, 0.5);
@color-text-ll : rgba(255, 255, 255, 0.8);

//颜色
@color-white : #FFFFFF;
@color-regular-blue : #4a4c5b;
@color-orange : #fc9153;
@color-background : #f3f4f5;

//字体定义规范
@fontsize-large-xxxx : 30px;
@fontsize-large-xxx : 24px;
@fontsize-large-xx : 20px;
@fontsize-large-x : 18px;
@fontsize-large : 16px;
@fontsize-medium : 14px;
@fontsize-small : 12px;
@fontsize-small-s : 10px;

// radius-size
@radius-size-medium : 5px;

// button
@btn-color : @color-white;
@btn-bgc : @color-regular-blue;